@media
only screen and (max-width: 760px),
(min-device-width: 420px) and (max-device-width: 1024px)  {

    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr {
        display: block;
        border: none;
        border-collapse: collapse;
        width: auto;
    }
    
    th {
        display: none;
    }
    
    td {
        /* Behave  like a "row" */
        border: 1px solid #aaa;
        border-bottom: 1px solid #aaa;
        text-align: left;
        position: relative;
        padding-left: 12ch;
        max-width: none;
    }
    
    td:before {
        /* Now like a table header */
        content: attr(data-label);
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
    }
	
	#content-wrap {
		padding-bottom: 12rem;
	    padding-top: 1vh;
		padding-left: 5vw;
	    padding-right: 5vw;
		width: auto;
		margin: none;
	}

	.left{
		float: none;
		width: 100%;
	}

	.right {
		float: none;
		width: 100%;
	}

}
