:root{
	--text_colour: #aaaaaa;
	--hover_colour: #111;
	--background_colour: #111111;
	--border_colour: black;
	--hyperlink_colour: #aaaaaa;
	--nav_colour: #333;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: var(--nav_colour);
}

li {
	float: left;
}

li a {
	display: block;
	color: var(--hyperlink_colour);
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

h1, h2, h3, h4, h5 {
	color: var(--text_colour);
	text-align: center;
}

a {
	color: var(--text_colour);
}

p {
	color: var(--text_colour);
	text-align: center;
}

li a:hover {
	background-color: var(--hover_colour);
}

body {
	background-color: var(--background_colour);
	margin: 0px 100px 0px 100px;
}

table {
	border-collapse: collapse;
}

tr:hover {
	background-color: var(--hover_colour);
}

table, td {
	color: var(--text_colour);
	padding: 5px;
	border: 1px solid var(--border_colour);
	text-align: center;
}
