:root{
    --text_colour: #aaaaaa;
    --hover_colour: #151515;
    --background_colour: #111111;
    --border_colour: #888888;
    --hyperlink_colour: #aaaaaa;
    --nav_colour: #333;
}

ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--nav_colour);
}

li {
    float: left;
}

li.navbar a {
    display: block;
    color: var(--hyperlink_colour);
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
}

li.navbar-image a {
    display: block;
    color: var(--hyperlink_colour);
    text-align: center;
    text-decoration: none;
	padding: 0px 5px;
}


li.navbar-image img {
	height: 3.3em;
}


h1, h2, h3, h4, h5 {
    color: var(--text_colour);
}

a {
    color: var(--text_colour);
}

p {
    color: var(--text_colour);
}

li a:hover {
    background-color: var(--hover_colour);
}

body {
    background-color: var(--background_colour);
    color: var(--text_colour);
    margin: 0 2vw 0 2vw;
}

table {
    border-collapse: collapse;
	overflow-wrap: break-word;
	word-wrap: break-word;
}

tr:hover {
    background-color: var(--hover_colour);
}

table, td {
    color: var(--text_colour);
    padding: 5px;
    border: 1px solid var(--border_colour);
    text-align: center;
}

td {
    max-width: 30ch
}

label {
    color: var(--text_colour);
}

input {
    background-color: var(--background_colour);
    color: var(--text_colour);
}

textarea{
    background-color: var(--background_colour);
    color: var(--text_colour);
}

fieldset {
    display: inline-block;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 12rem;
    padding-top: 1vh;
    padding-left: 10vw;
    padding-right: 10vw;
}

#socialMedia {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    line-height: 1em;
    position: absolute;
    width: 100%;
    bottom: 0;
    overflow: hidden;
    text-align: center;
    background-color: var(--nav_colour);
}

.sm {
    margin: 20px;
}

.left {
    float: left;
    width: 50%;
}
.right {
    float: right;
    width: 50%;
}
